.container > p:last-child {
    text-align: right;
}

.container > p:nth-last-child(2) {
  background-color: #999dd2;
  padding: 1rem;
  width: fit-content;
}

p {
    width: 100%;
}

.container {
    text-align: justify;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

img {
    max-width: 250px;
    width: 100%;
    height: auto;
}

.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #006400;
    border-radius: 50%;
    border-top-color: transparent; 
    animation: spin 1s linear infinite;
}

.loading::before {
    content: "carregando";
    position: absolute;
    margin-top: 7rem;
    animation: dots 1.5s steps(4, end) infinite;
    text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes dots {
    0%   { content: "carregando"; }
    25%  { content: "carregando."; }
    50%  { content: "carregando.."; }
    75%  { content: "carregando..."; }
    100% { content: "carregando"; }
}