* {
    margin: 0;
    padding: 0;
}

body {
  background: repeating-linear-gradient(
    45deg,
    #dbdbdb 0,
    #dbdbdb 20px,
    #c2c2c2 20px,
    #c2c2c2 40px
  );
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
    padding: 80px 0;
}

.sectionList-container {
    width: 200px;
}


.sectionsList {
    width: 200px;
    background-color: #fff;
    height: 400px;
    position: fixed;
    list-style: none;
    display: none;
    flex-direction: column;
}

.sectionsList li {
    padding: 20px;
    border: 2px solid #fff;
    transition: .2s;
    cursor: pointer;
}

.sectionsList li:hover {
    border: 2px solid #000000;
}

.content > p:last-child {
    text-align: right;
}

.content > p:nth-last-child(2) {
  background-color: #999dd2;
  padding: 1rem;
  width: fit-content;
}

p {
    width: 100%;
}

.content {
    text-align: justify;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    gap: 30px;
    position: relative;
}

@media screen and (max-width: 900px) {
    .sectionList-container {
        display: none;
    }

    .container {
        padding: 20px 30px;
    }

    .content {
        padding: 40px 20px;
    }
}

.imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -25px 0 20px 0;
}

img {
    max-width: 250px;
    width: 100%;
    height: auto;
}

.loading {
    max-width: 880px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    bottom: 0;
    position: absolute;
    padding: 55px 0;
}

.loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dbdbdb;
    border-radius: 50%;
    border-top-color: transparent; 
    animation: spin 1s linear infinite;
}

.loading::before {
    content: "carregando";
    position: absolute;
    margin-top: 7rem;
    animation: dots 1.5s steps(4, end) infinite;
    text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes dots {
    0%   { content: "carregando"; }
    25%  { content: "carregando."; }
    50%  { content: "carregando.."; }
    75%  { content: "carregando..."; }
    100% { content: "carregando"; }
}